@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  max-height: 100%;
}

input,
textarea,
select {
  @apply border border-gray-200 rounded-sm px-3 py-2 w-full;
  @apply mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-gray-800;
}

h1 {
  @apply text-gray-600 mb-4 text-xl;
}

h2 {
  @apply text-gray-800 mt-6 mb-2 text-lg;
}

label {
  @apply text-gray-800 text-sm;
}

.btn-primary {
  @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}

table.basic {
  @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
  @apply p-4 py-1;
}

table.basic a {
  @apply text-sm px-4 py-1 rounded-sm items-center inline-flex gap-1 mx-1;
}

.btn-default,
.btn-red {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-red-300 text-white px-4 py-1 rounded-sm shadow-sm;
}

.btn-default {
  @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
}
